/Debug/Recorder.exe
/Debug/Recorder.ilk
/Debug/Recorder.pdb
/Recorder/Debug/Recorder.log
/Recorder/Debug/Recorder.obj
/Recorder/Debug/Recorder.pch
/Recorder/Debug/Recorder.tlog/CL.command.1.tlog
/Recorder/Debug/Recorder.tlog/CL.read.1.tlog
/Recorder/Debug/Recorder.tlog/CL.write.1.tlog
/Recorder/Debug/Recorder.tlog/link.command.1.tlog
/Recorder/Debug/Recorder.tlog/link.read.1.tlog
/Recorder/Debug/Recorder.tlog/link.write.1.tlog
/Recorder/Debug/Recorder.tlog/Recorder.lastbuildstate
/Recorder/Debug/stdafx.obj
/Recorder/Debug/vc140.idb
/Recorder/Debug/vc140.pdb
/Release/Recorder.exe
/Release/Recorder.iobj
/Release/Recorder.ipdb
/Release/Recorder.pdb
/Recorder/Release/Recorder.log
/Recorder/Release/Recorder.obj
/Recorder/Release/Recorder.pch
/Recorder/Release/Recorder.tlog/CL.command.1.tlog
/Recorder/Release/Recorder.tlog/CL.read.1.tlog
/Recorder/Release/Recorder.tlog/CL.write.1.tlog
/Recorder/Release/Recorder.tlog/link.command.1.tlog
/Recorder/Release/Recorder.tlog/link.read.1.tlog
/Recorder/Release/Recorder.tlog/link.write.1.tlog
/Recorder/Release/Recorder.tlog/Recorder.lastbuildstate
/Recorder/Release/stdafx.obj
/Recorder/Release/vc140.pdb
/.vs/Recorder/v14/.suo
/ipch/RECORDER-9effb513/RECORDER-8b81eb62.ipch
/ipch/RECORDER-9effb513/RECORDER-4258f25c.ipch
/Recorder.VC.db
/Recorder.VC.VC.opendb
/Recorder/Debug/Recorder.Build.CppClean.log
/Recorder/Debug/main.obj
/Recorder/Debug/record_audio.obj
/Recorder/Debug/record_audio_factory.obj
/Recorder/Debug/record_audio_wasapi.obj
/Recorder/Recorder.vcxproj.user
/Recorder/Debug/encoder_264.obj
/Recorder/Debug/encoder_aac.obj
/Recorder/Debug/record_desktop.obj
/Recorder/Debug/record_desktop_factory.obj
/Recorder/Debug/record_desktop_gdi.obj
/Recorder/Debug/record_devices.obj
/Recorder/Debug/resample_pcm.obj
/Recorder/Release/Recorder.tlog/unsuccessfulbuild
/Recorder/Release/main.obj
/Recorder/Release/record_audio.obj
/Recorder/Release/record_audio_factory.obj
/Recorder/Release/record_audio_wasapi.obj
/Recorder/Release/record_desktop.obj
/Recorder/Release/record_desktop_factory.obj
/Recorder/Release/record_desktop_gdi.obj
/Recorder/Release/record_devices.obj
/Recorder/*.wav
/Recorder/*.264
/Recorder/*.pcm
/Recorder/*.aac
/Recorder/Debug/filter_amix.obj
/Recorder/Debug/muxer_mp4.obj
/Recorder/Debug/ring_buffer.obj
/helpers
/Bin
