/Debug/Recorder.exe
/Debug/Recorder.ilk
/Debug/Recorder.pdb
/Recorder/Debug/Recorder.log
/Recorder/Debug/Recorder.obj
/Recorder/Debug/Recorder.pch
/Recorder/Debug/Recorder.tlog/CL.command.1.tlog
/Recorder/Debug/Recorder.tlog/CL.read.1.tlog
/Recorder/Debug/Recorder.tlog/CL.write.1.tlog
/Recorder/Debug/Recorder.tlog/link.command.1.tlog
/Recorder/Debug/Recorder.tlog/link.read.1.tlog
/Recorder/Debug/Recorder.tlog/link.write.1.tlog
/Recorder/Debug/Recorder.tlog/Recorder.lastbuildstate
/Recorder/Debug/stdafx.obj
/Recorder/Debug/vc140.idb
/Recorder/Debug/vc140.pdb
/Release/Recorder.exe
/Release/Recorder.iobj
/Release/Recorder.ipdb
/Release/Recorder.pdb
/Recorder/Release/Recorder.log
/Recorder/Release/Recorder.obj
/Recorder/Release/Recorder.pch
/Recorder/Release/Recorder.tlog/CL.command.1.tlog
/Recorder/Release/Recorder.tlog/CL.read.1.tlog
/Recorder/Release/Recorder.tlog/CL.write.1.tlog
/Recorder/Release/Recorder.tlog/link.command.1.tlog
/Recorder/Release/Recorder.tlog/link.read.1.tlog
/Recorder/Release/Recorder.tlog/link.write.1.tlog
/Recorder/Release/Recorder.tlog/Recorder.lastbuildstate
/Recorder/Release/stdafx.obj
/Recorder/Release/vc140.pdb
/.vs/Recorder/v14/.suo
/ipch/RECORDER-9effb513/RECORDER-8b81eb62.ipch
/ipch/RECORDER-9effb513/RECORDER-4258f25c.ipch
/Recorder.VC.db
/Recorder.VC.VC.opendb
/Recorder/Debug/Recorder.Build.CppClean.log
/Recorder/Debug/main.obj
/Recorder/Debug/record_audio.obj
/Recorder/Debug/record_audio_factory.obj
/Recorder/Debug/record_audio_wasapi.obj
/Recorder/Recorder.vcxproj.user
/Recorder/Debug/encoder_264.obj
/Recorder/Debug/encoder_aac.obj
/Recorder/Debug/record_desktop.obj
/Recorder/Debug/record_desktop_factory.obj
/Recorder/Debug/record_desktop_gdi.obj
/Recorder/Debug/record_devices.obj
/Recorder/Debug/resample_pcm.obj
/Recorder/Release/Recorder.tlog/unsuccessfulbuild
/Recorder/Release/main.obj
/Recorder/Release/record_audio.obj
/Recorder/Release/record_audio_factory.obj
/Recorder/Release/record_audio_wasapi.obj
/Recorder/Release/record_desktop.obj
/Recorder/Release/record_desktop_factory.obj
/Recorder/Release/record_desktop_gdi.obj
/Recorder/Release/record_devices.obj
/Recorder/*.wav
/Recorder/*.264
/Recorder/*.pcm
/Recorder/*.aac
/Recorder/Debug/filter_amix.obj
/Recorder/Debug/muxer_mp4.obj
/Recorder/Debug/ring_buffer.obj
/helpers
/Bin
/Recorder/Debug/filter_audio.obj
/Recorder/Debug/muxer_libmp4v2.obj
/Recorder/Debug/record_audio_dshow.obj
/Recorder/Debug/sws_helper.obj
/Recorder/Debug/device_audios.obj
/Recorder/Debug/device_videos.obj
/Recorder/Debug/record_desktop_dshow.obj
/Recorder/Debug/utils_string.obj
/Recorder/Debug_DLL/Recorder.log
/Recorder/Debug_DLL/Recorder.pch
/Recorder/Debug_DLL/Recorder.tlog/CL.command.1.tlog
/Recorder/Debug_DLL/Recorder.tlog/CL.read.1.tlog
/Recorder/Debug_DLL/Recorder.tlog/CL.write.1.tlog
/Recorder/Debug_DLL/Recorder.tlog/Recorder.lastbuildstate
/Recorder/Debug_DLL/Recorder.tlog/Recorder.write.1u.tlog
/Recorder/Debug_DLL/Recorder.tlog/link.command.1.tlog
/Recorder/Debug_DLL/Recorder.tlog/link.read.1.tlog
/Recorder/Debug_DLL/Recorder.tlog/link.write.1.tlog
/Recorder/Debug_DLL/device_audios.obj
/Recorder/Debug_DLL/device_videos.obj
/Recorder/Debug_DLL/encoder_264.obj
/Recorder/Debug_DLL/encoder_aac.obj
/Recorder/Debug_DLL/export.obj
/Recorder/Debug_DLL/filter_audio.obj
/Recorder/Debug_DLL/main.obj
/Recorder/Debug_DLL/muxer_libmp4v2.obj
/Recorder/Debug_DLL/muxer_mp4.obj
/Recorder/Debug_DLL/record_audio.obj
/Recorder/Debug_DLL/record_audio_dshow.obj
/Recorder/Debug_DLL/record_audio_factory.obj
/Recorder/Debug_DLL/record_audio_wasapi.obj
/Recorder/Debug_DLL/record_desktop.obj
/Recorder/Debug_DLL/record_desktop_dshow.obj
/Recorder/Debug_DLL/record_desktop_factory.obj
/Recorder/Debug_DLL/record_desktop_gdi.obj
/Recorder/Debug_DLL/resample_pcm.obj
/Recorder/Debug_DLL/stdafx.obj
/Recorder/Debug_DLL/sws_helper.obj
/Recorder/Debug_DLL/utils_string.obj
/Recorder/Debug_DLL/vc140.idb
/Recorder/Debug_DLL/vc140.pdb
/Recorder/Release_DLL/Recorder.log
/Recorder/Release_DLL/Recorder.tlog/CL.command.1.tlog
/Recorder/Release_DLL/Recorder.tlog/CL.read.1.tlog
/Recorder/Release_DLL/Recorder.tlog/CL.write.1.tlog
/Recorder/Release_DLL/Recorder.tlog/Recorder.lastbuildstate
/Recorder/Release_DLL/Recorder.tlog/Recorder.write.1u.tlog
/Recorder/Release_DLL/Recorder.tlog/link.command.1.tlog
/Recorder/Release_DLL/Recorder.tlog/link.read.1.tlog
/Recorder/Release_DLL/Recorder.tlog/link.write.1.tlog
/Recorder/Release_DLL/device_audios.obj
/Recorder/Release_DLL/device_videos.obj
/Recorder/Release_DLL/encoder_264.obj
/Recorder/Release_DLL/encoder_aac.obj
/Recorder/Release_DLL/export.obj
/Recorder/Release_DLL/filter_audio.obj
/Recorder/Release_DLL/main.obj
/Recorder/Release_DLL/muxer_libmp4v2.obj
/Recorder/Release_DLL/muxer_mp4.obj
/Recorder/Release_DLL/record_audio.obj
/Recorder/Release_DLL/record_audio_dshow.obj
/Recorder/Release_DLL/record_audio_factory.obj
/Recorder/Release_DLL/record_audio_wasapi.obj
/Recorder/Release_DLL/record_desktop.obj
/Recorder/Release_DLL/record_desktop_dshow.obj
/Recorder/Release_DLL/record_desktop_factory.obj
/Recorder/Release_DLL/record_desktop_gdi.obj
/Recorder/Release_DLL/recorder.pch
/Recorder/Release_DLL/resample_pcm.obj
/Recorder/Release_DLL/stdafx.obj
/Recorder/Release_DLL/sws_helper.obj
/Recorder/Release_DLL/utils_string.obj
/Recorder/Release_DLL/vc140.pdb
/Test/Release/Test.log
/Test/Release/Test.tlog/CL.command.1.tlog
/Test/Release/Test.tlog/CL.read.1.tlog
/Test/Release/Test.tlog/CL.write.1.tlog
/Test/Release/Test.tlog/Test.lastbuildstate
/Test/Release/Test.tlog/link.command.1.tlog
/Test/Release/Test.tlog/link.read.1.tlog
/Test/Release/Test.tlog/link.write.1.tlog
/Test/Release/mian.obj
/Test/Release/vc140.pdb
/Recorder/Debug/Recorder.tlog/Recorder.write.1u.tlog
/Recorder/Debug/export.obj
/Test/Debug_DLL/Test.log
/Test/Debug_DLL/Test.tlog/CL.command.1.tlog
/Test/Debug_DLL/Test.tlog/CL.read.1.tlog
/Test/Debug_DLL/Test.tlog/CL.write.1.tlog
/Test/Debug_DLL/Test.tlog/Test.lastbuildstate
/Test/Debug_DLL/Test.tlog/link.command.1.tlog
/Test/Debug_DLL/Test.tlog/link.read.1.tlog
/Test/Debug_DLL/Test.tlog/link.write.1.tlog
/Test/Debug_DLL/mian.obj
/Test/Debug_DLL/vc140.idb
/Test/Debug_DLL/vc140.pdb
/Test/Release_DLL/Test.log
/Test/Release_DLL/Test.tlog/CL.command.1.tlog
/Test/Release_DLL/Test.tlog/CL.read.1.tlog
/Test/Release_DLL/Test.tlog/CL.write.1.tlog
/Test/Release_DLL/Test.tlog/Test.lastbuildstate
/Test/Release_DLL/Test.tlog/link.command.1.tlog
/Test/Release_DLL/Test.tlog/link.read.1.tlog
/Test/Release_DLL/Test.tlog/link.write.1.tlog
/Test/Release_DLL/mian.obj
/Test/Release_DLL/vc140.pdb
/Test/Test.vcxproj.user
/2node/build
/2node/node_modules/.yarn-integrity
/2node/yarn.lock
/Recorder/Release_DLL/recorder.Build.CppClean.log
/Recorder/Release/Recorder.tlog/Recorder.write.1u.tlog
/Recorder/Release/device_audios.obj
/Recorder/Release/device_videos.obj
/Recorder/Release/encoder_264.obj
/Recorder/Release/encoder_aac.obj
/Recorder/Release/export.obj
/Recorder/Release/filter_audio.obj
/Recorder/Release/muxer_libmp4v2.obj
/Recorder/Release/muxer_mp4.obj
/Recorder/Release/record_audio_dshow.obj
/Recorder/Release/record_desktop_dshow.obj
/Recorder/Release/resample_pcm.obj
/Recorder/Release/sws_helper.obj
/Recorder/Release/utils_string.obj
/Recorder/Debug/mmdevice_define.obj
/Recorder/Release/recorder.Build.CppClean.log
/Recorder/Debug_DLL/mmdevice_define.obj
/Recorder/Release_DLL/mmdevice_define.obj
/Recorder/Release/mmdevice_define.obj
/Recorder/Debug_DLL/record_desktop_ffmpeg_dshow.obj
/Recorder/Debug_DLL/record_desktop_ffmpeg_gdi.obj
/Recorder/Debug_DLL/record_desktop_win_gdi.obj
/Recorder/Release_DLL/record_desktop_ffmpeg_dshow.obj
/Recorder/Release_DLL/record_desktop_ffmpeg_gdi.obj
/Recorder/Release_DLL/record_desktop_win_gdi.obj
/2node/save.mp4
/2node/platform/win32/recorder.node
/Recorder/Debug_DLL/muxer_file.obj
/Recorder/Debug_DLL/muxer_mkv.obj
/Recorder/Release_DLL/header_mmdevice.obj
/Recorder/Release_DLL/muxer_file.obj
/Recorder/Release_DLL/muxer_mkv.obj
/Recorder/Debug/header_mmdevice.obj
/Recorder/Debug/muxer_file.obj
/Recorder/Debug/muxer_mkv.obj
/Recorder/Debug/record_desktop_ffmpeg_dshow.obj
/Recorder/Debug/record_desktop_ffmpeg_gdi.obj
/Recorder/Debug/record_desktop_win_gdi.obj
/Recorder/Debug_DLL/header_mmdevice.obj
/Recorder/Release_DLL/headers_mmdevice.obj
/2node/node_modules
/2node/package-lock.json
