*.node
*.tlog
*.obj
*.log
*.pdb
*.idb
*.db
*.suo
*.opendb
*.user
/2node/node_modules
/2node/build
/2node/*.mp4
/2node/*.mkv
/2node/*.
/2node/package-lock.json
/2node/yarn.lock
/2node/platform/win32/screen-recorder.dll
/2node/platform/win32/screen-recorder.lib
/Bin
/vs2015/ipch
/vs2015/ui/Debug
/vs2015/ui/Release
/vs2015/ui/Debug_DLL
/vs2015/ui/Release_DLL
/libs